@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
*{
    font-family: 'Outfit';
}
body{
    background-color: var(--Light-gray);
}


.card{
    width: 60%;
    height: 660px;
    background-color: var(--White);
    margin: 0 auto;
    border-radius: 28px;
    box-shadow: 2px 2px 10px var(--Grayish-blue);
    margin-top: 100px;
    flex-direction: column;
    max-width: 500px;
}
.card__img{
    display: block;
    width: 85%;
    height: 400px;
    margin: 0 auto;
    border-radius:18px;
}
.card__title{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    columns: var(--Dark-blue);
}
.card__txt{
    margin: 0 auto;
    text-align: center;
    width: 70%;
   font-size: 18px;
   color: var(--Grayish-blue);
}
.attribution { 
font-size: 18px;
text-align: center; 
margin-top: 100px;
}
.attribution a { color: hsl(228, 45%, 44%); }